body {
  background: linear-gradient(#84dccf, #a6d9f7);
}

.container {
  border: solid;
  font-family: sans-serif;
  line-height: 1.4;
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
}

img {
  border: solid;
  width: 70%;
  max-width: 500px;
}

.article {
  padding: 10px;
}

h1 {
  text-align: center;
  background-color: #a6d9f7;
  padding: 50px;
  margin: 0;
}

.price {
  font-size: 20px;
  font-weight: bold;
  font-family: none;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 25px;
}

.button:hover {
  color: rgb(0, 0, 0);
}

.B {
  background-color: black;
  /* transition: 0.3s;
  margin-left: 35%;
  padding: 1rem; */

  border: none;
  width: 100%;
  height: 50px;
}

.B:hover {
  background-color: rgba(0, 0, 0, 0.31);
  /* transition: 0.3s;
  transform: translateY(-100%); */
  border-top: solid;
}

.B:hover a::after {
  text-decoration: none;
}
