* {
  color: rgb(0, 0, 0);
}

body {
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
}

.container {
  width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
}

h1,
h2,
h3,
p {
  font-family: sans-serif;
}

.header {
  background-color: rgb(42, 245, 245);
}

header h1 {
  color: rgb(59, 163, 186);
  font-size: 50px;
  text-transform: uppercase;
  background-color: rgb(234, 234, 234);
}

h2 {
  font-size: 40px;
}

p {
  line-height: 1.5;
}

h3 {
  font-size: 25px;
  color: rgb(0, 0, 0);
  text-align: center;
  text-transform: uppercase;
}

footer {
  font-size: 16px;
}

article h2 {
  font-style: italic;
}

.related-ul {
  list-style: none;
}

aside {
  background-color: rgb(232, 232, 232);
  border-top: 5px solid rgb(255, 25, 25);
  border-bottom: 5px solid rgb(255, 25, 25);
  font-family: sans-serif;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(2) {
  color: red;
}

li:nth-child(3) {
  text-transform: uppercase;
}

/*a:visited {
  color: aqua;
}*/

.related-ul a:hover {
  color: rgb(41, 160, 181);
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.related-ul a:active {
  font-style: italic;
  background-color: black;
}

.green-img {
  width: 90%;
  max-width: 1000px;
}
button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 25px;
  right: 0;
}
